body {
    margin:0;
    padding:0;
    font-family: "franklin-gothic-urw", sans-serif;
    overflow-x: hidden;
}
p {
  font-size: 20px;
  line-height: 1.3;
  color: #e4e4e4;
  margin-top: 8px;
}
.spacer {
  height: 6px;
}
a {
  color: #E87722;
  font-weight: bold;
  text-decoration-style: dotted;
  text-underline-offset: 0.2em;
}

a:hover, a:visited {
    color: #FFFFFF;
}
#map {
    top:0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    letter-spacing: .1em;
    padding: 1vh 2vw;
    background: none;
}
#header img {
  position: absolute;
  top: 3%;
  right: 5%;
  height: 150px;
  width: 150px;
}

@media (max-width: 768px) {
    #header img {
        height: 75px;
        width: 75px;
    }
}

@media (max-width: 425px) {
    #header img {
        height: 50px;
        width: 50px;
    }
}

#header h1, #header h2 {
  margin: 19% auto 2%;
  text-align: center;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  font-size: 72px;
  color: #DFD7D5;
  width: 48%;
}

@media (max-width: 1920px) {
    #header h1 {
        margin: 18% auto 2%;
        width: 75%;
    }
}

@media (max-width: 1536px) {
    #header h1 {
        margin: 15% auto 2%;
        font-size: 72px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #header h1 {
        font-size: 54px;
        margin: 15% auto 1%;
    }
}

@media (max-width: 600px) {
  #header h1 {
        font-size: 24px;
    }
}

@media (max-width: 425px) {
  #header h1 {
        font-size: 26px;
    }
}

#background-video {
  width: 100vw;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#header p.hedp {
    text-align: center;
    font-family: 'franklin-gothic-urw', sans-serif;
    color: #DFD7D5;
    padding: 0 30% 0 30%;
    font-size: 1.6em;
    letter-spacing: .01em;
    line-height: 0.5;
    font-style: italic;
}

@media (max-width: 1920px) {
    #header p.hedp {
        font-size: 1.3em;
        padding: 0 25% 0 25%;
    }
}

@media (max-width: 1536px) {
    #header p.hedp {
        padding: 0 18% 0 18%;
        font-size: 1.1em;
    }
}

@media (max-width: 1124px) {
    #header p.hedp {
        display: none;
    }
}

#mapInset {
            bottom:50px;
            right:30px;
            height: 180px;
            width:250px;
            max-width:100%;
            position: fixed;
            z-index: 1;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            pointer-events: none;
        }
        #mapInset .mapboxgl-ctrl-bottom-left{
            display: none;
        }
        @media (max-width: 500px) {
            #mapInset {
                display: none;
            }
        }

        #freeExplore {
              border: solid 2px #c0afa5;
              color: #E1E0E0;
              padding: 20px;
              width: 150px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 20px;
              display: block;
              margin: 2% auto auto;
              font-family: "franklin-gothic-urw", sans-serif;
              border-radius: 8px;
        }
        #freeExplore:hover {
            background-color: #fff;
            color: #000;
            cursor: pointer;
            transition: 1s;
        }

        #freeExplore.active {
            background-color: #fff;
            color: #000;
        }

        @media (max-width: 600px) {
          #freeExplore {
                display:none;
            }
        }

#vidcredit {
  margin-top: 10%;
  font-size: 12px;
}

@media (max-width: 1920px) {
    #vidcredit {
        margin-top: 8%;
    }
}

@media (max-width: 1620px) {
    #vidcredit {
        margin-top: 3%;
    }
}

@media (max-width: 1366px) {
    #vidcredit {
        margin-top: 2%;
    }
}

@media (max-width: 1024px) {
    #freeExplore {
        font-size: 16px;
        width: 100px;
        margin-top: 5%;
    }
}

@media (max-width: 1024px) {
    #vidcredit {
        margin-top: 11%;
    }
}

@media (max-width: 768px) {
    #vidcredit {
        margin-top: 3%;
    }
}

@media (max-width: 425px) {
    #vidcredit {
        font-size: 10px;
    }
}

h2.liftout {
  font-size: 2.2em;
  font-family: "franklin-gothic-urw", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 5% 15%;
  line-height: 1.5em;
}

@media (max-width: 1536px) {
    h2.liftout {
        font-size: 1.2em;
        padding: 5% 13%;
    }
}

@media (max-width: 1024px) {
    h2.liftout {
        font-size: 1em;
        padding: 5% 10%;
    }
}

@media (max-width: 768px) {
    h2.liftout {
        font-size: 0.8em;
        padding: 5% 8%;
    }
}

@media (max-width: 425px) {
    h2.liftout {
        padding: 5% 1%;
    }
}

h3 {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #E87722;
  margin-bottom: 0;
  line-height: 1.2em;
}
h4 {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
h5 {
  font-weight: normal;
  float: left;
  margin: 1% 1% 0 0;
}
@keyframes extend {
	from {
		width: 0;
	}

	to {
		width: 25%;
	}
}

#loader {
	top: 0;
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 0;
	background: #000;
	opacity: .9;
	transition: opacity 1s ease-out;
	pointer-events: none;
}

#loaderSpin {
	border: 5px solid #333;
	border-top: 5px solid #d3d3d3;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: loadSpin 2s linear infinite;
	transition: opacity 0.5s ease-out;
	position: relative;
	top: 41%;
	margin: auto;
}

@keyframes loadSpin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
#footer {
    width: 100%;
    min-height: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    text-align: left;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
    background-color: #052632;
}
#footer h4 {
  color: #E87722;
}
#features {
    padding-top: 20vh;
    /* padding-bottom: 10vh; */
}
.hidden {
    visibility: hidden;
}
.centered {
    width: 50vw;
    margin: 0 auto;
}
.centered .light {
  border-radius: 25px;
}

@media (max-width: 750px) {
  .centered .light {
    border-radius: 25px;
  }
}
.lefty {
    width: 33vw;
}

.lefty .light {
  border-radius: 0 25px 25px 0;
}

@media (max-width: 750px) {
  .lefty .light {
    border-radius: 25px;
  }
}

.righty {
    width: 33vw;
    margin-left: 67vw;
}

.righty .light {
  border-radius: 25px 0 0 25px;
}

@media (max-width: 750px) {
  .righty .light {
    border-radius: 25px;
  }
}

.fully {
    width: 100%;
    margin: auto;
}
.light {
  color: #444;
  background-color: #052632;
}

#INTRO .light {
  margin-top: 140%;
}

@media (max-width: 425px) {
  #INTRO {
    margin-top: 0 !important;
  }
}

@media (max-width: 425px) {
  #INTRO .light {
    margin-top: 0 !important;
  }
}

#chart03 .light {
  background-image: none;
  background-color: #5f3830;
  width: 60vw;
}

#VIDEO {
  padding-bottom: 0 !important;
}

#VIDEO .light {
  background-image: url('../images/sudan_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-opacity: .1;
  background-size: cover;
  padding: 5px 0 5px;
}

p.top-narrative {
  padding: 2% 35% 0;
}

@media (max-width: 1920px) {
  p.top-narrative {
    padding: 0 30% 0;
  }
}

#NARRATIVE-1 .light {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.95) 100%), url('../images/sudan_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-opacity: .1;
  background-size: cover;
  padding: 5% 35%;
}

@media (max-width: 1920px) {
  #NARRATIVE-1 .light {
    padding: 5% 30%;
  }
}

#NARRATIVE-3 .light {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.95) 100%), url('../images/sudan_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-opacity: .1;
  background-size: cover;
  padding: 5% 20%;
}

#NARRATIVE-END {
  padding-bottom: 0 !important;
}

#NARRATIVE-END .light {
  background-image: url('../images/sudan_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-opacity: .1;
  background-size: cover;
  padding: 5% 35%;
}

#ch10 .light {
  padding: 0 50px 5px 50px;
}

#chart03 .light {
  padding: 0;
  width: 60vw;
}

.photocaption {
	font-size: 0.8em;
	line-height: 24px;
	letter-spacing: .02em;
	display: block;
}

#END-02 .light {
  background-image: none;
  background-color: #5f3830;
}

.flourish-credit {
  display:inline;
}

.padding {
  padding: 5px 50px;
  font-size: 19px;
  line-height: 1.4286;
  color: #e4e4e4;
}

.dark {
    color: #fafafa;
    background-color: #FFB81C;
}
.step {
    padding-bottom: 60vh;
    /* margin-bottom: 10vh; */
    opacity: 0.25;
}

.step {
    opacity: 0.95;
}

-solid {
	opacity: .99 !important;
}

.step div {
    padding:  5px 50px;
    line-height: 25px;
    font-size: 13px;
}

@media (max-width: 425px) {
  .step div {
      padding:  5px 20px;
  }
}
ul {
    list-style-type: square;
}

.adjust-right {
  margin-left: 15px;
}

.step img {
    width: 100%;
}

@media (max-width: 750px) {
    .centered, .lefty, .righty, .fully {
        width: 90vw;
        margin: 140% auto;
    }
}

/* Progress Bar CSS */

.progress-container {
    width: 100%;
    height: 4px;
    background: #717C7D;
    position: fixed;
    z-index: 9999;
}

.progress-bar {
    height: 4px;
    background: #E87722;
    width: 0%;
    top: 0;
    position: fixed;
}

/* Legend CSS */

.legend {
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  color: #E4E4E4;
  padding: 10px 50px;
  display: none;
  z-index: 1;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
}

.left-legend {
  right: 0;
}

.right-legend {
  left: 0;
}

@media (max-width: 425px) {
    .legend {
        z-index: 0;
    }
}

.blackshadow {
    text-shadow: 0 0 4px #000000;
}

.white {
  color: #fff;
}

.legend h4 {
    margin: 0 0 10px;
}

ul.legend-ul {
  padding: 0;
  list-style-type: none;
}

ul.legend-ul li {
  float: left;
  padding-right: 10px;
}

.legend div span {
    display: inline-block;
    height: 10px;
    width: 30px;
    margin-right: 5px;
}

.endleg {
  position: fixed;
  color: #E4E4E4;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 10px;
  display: none;
  z-index: 1;
  border-radius: 5px;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
  top: 30px;
  right: 30px;
}

.endleg div span {
    display: inline-block;
    height: 10px;
    width: 30px;
    margin-right: 5px;
}


/* Fix issue on mobile browser where scroll breaks  */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}

.mapboxgl-ctrl-attrib-inner {
  padding-right: 15px !important;
}

.data-sources {
  width: 90%;
  color: #CCC;
  font-size: .8em;
}

/* Popup boxes */

.mapboxgl-popup-content {
  font-family: "franklin-gothic-urw", sans-serif;
  color: #000;
}

.mapboxgl-popup-content strong {
  font-size: 14px;
  color: #000;
}

.mapboxgl-popup-content p  {
  font-size: 13px;
  line-height: 1.4286;
  color: #000;
}

.mapboxgl-popup-close-button {
  font-size: 24px;
}

.mapboxgl-ctrl-top-right {
    top: 1% !important;
    right: 1% !important;
}

/* VIDEO CSS */

.html-video-container {
	max-width: 100%;
	height: auto;
	max-height: 100%;
	opacity: 1 !important;
}

/* YouTube fallbacks */

.video-container {
	position: relative;
	padding-bottom: 56.25% !important;
	padding-top: 40px !important;
	border-radius: 0 !important;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.flourish-credit {
  display: none !important;
}
